.character {
  height: 200px;
  width: 200px;
  background-color: #000;
  min-height: 200px;
  border-radius: 10px;
  margin: 1rem;
  position: relative;
  width: 500px;
  max-width: 500px;
  padding: 2rem;
  color: white;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    transition: 400ms ease-in;
  }

  ::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 240px;
    height: 100%;
    background: radial-gradient(
      ellipse 100% 100% at right center,
      transparent 80%,
      #000
    );
  }

  & img {
    height: inherit;
    width: 240px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
  }

  & div {
    width: 360px;
    h1 {
      font-family: 'Marvel', sans-serif;
      font-size: 40px;
    }

    p {
      width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
  }
}
