.container {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

  p {
    margin: 0;
  }
}

.button {
  background: #5c0606;
  color: white;
  height: fit-content;
  width: fit-content;
  font-size: 40px;
  padding: 1rem;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Marvel', sans-serif;
}
